<div class="container">
    <div *ngIf="errors" class="alert alert-danger">
        <span class="text-danger" *ngFor="let err of errors">{{err}}</span>
    </div>
    
    <form class="form-group" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
          <label for="staticEmail2" >Email</label>
          <app-text-input [formControl]="passwordForm.controls['email']" [label]="'Email'" [type]="'email'"></app-text-input>
        </div>
        <div class="form-group mb-2">
          <label for="inputPassword2">New Password</label>
          <app-text-input [formControl]="passwordForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
        </div>
        <div class="form-group  mb-2">
            <label for="inputPassword2" >Confirm Password</label>
            <app-text-input [formControl]="passwordForm.controls['confirmPassword']" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
          </div>
        <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary mb-2">Change Password</button>
      </form>
</div>