<div style="margin-top:-50px">
    <carousel>
        <!-- <slide>
          <img src="assets/images/accounting-1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </slide> -->
        <slide>
          <img src="assets/images/accounting-2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-info">Manage Your Expenses</h3>
            <p class="lead">Generate bills and Record payments </p>
          </div>
        </slide>    
      </carousel>
</div>
