

<ng-container *ngIf="(title$ | async) as breadcrumbs">
    <section *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'" class="py-5 section-header bg-gradient-info " style="margin-top:40px;">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-9">
                    <h2 class="text-dark">
                        {{breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label | titlecase}}
                    </h2>
                </div>
                <div class="col-3">
                    <xng-breadcrumb></xng-breadcrumb>
                </div>
            </div>
        </div>
        </section>
</ng-container>