<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-user'" [logoLink]="'/tenants/list'" [logoName]="'Tenants'"
                    [logoColour]="'bg-success'"></app-dashboard-icon>
            </div>
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-paper-plane'" [logoLink]="'/bills/list'" [logoName]="'Bills'"
                    [logoColour]="'bg-warning'"></app-dashboard-icon>
            </div>
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-money'" [logoLink]="'/transactions/list'" [logoName]="'Transactions'"
                    [logoColour]="'bg-primary'"></app-dashboard-icon>
            </div>
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-gear'" [logoLink]="'/tenants/list'" [logoName]="'Settings'"
                    [logoColour]="'bg-dark'"></app-dashboard-icon>
            </div>
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-comments'" [logoLink]="'/tenants/list'" [logoName]="'Feedbacks'"
                    [logoColour]="'bg-danger'"></app-dashboard-icon>
            </div>
            <div class="col-4 my-2">
                <app-dashboard-icon [logoClass]="'fa fa-lock'" [logoLink]="'/tenants/list'" [logoName]="'Accounts'"
                    [logoColour]="'bg-info'"></app-dashboard-icon>
            </div>
        </div>
    </div>
</div>