<div class="container">
    
    
    <div class="d-flex justify-content-between"  *ngIf="transactions && transactions.length > 0">
        <p  class="text-muted">Showing {{transactions.length}} of {{pagination.count}} items</p>
        <div>
            <div class="form-inline">                
                <input type="text" placeholder="Search" #searchBox class="form-control" (keyup.enter)="onSearch()">
            <button class="btn btn-info ml-2" (click)="openModal(template)">Add Transaction</button>
            </div>
            
        </div>
        
    </div>
    <div class="row my-3">
        <div class="col-sm-3">
            <select  class="form-control col-12" (change)="onMonthChange($event)" [(ngModel)]="transactionParams.month" >
                <option *ngFor="let option of monthNames" [ngValue]="option.value" >
                    {{ option.display }}
                </option>
            </select>            
        </div>
        <div class="col-sm-3">
            <select  class="form-control col-12" [(ngModel)]="transactionParams.year" (change)="onYearChange($event)" >
                <option *ngFor="let option of years" [ngValue]="option">
                    {{ option }}
                </option>
            </select>
        </div>
        <div class="col-sm-1">
            <span class="align-middle">Sort By</span>
        </div>
        <div class="col-sm-3">
           
            <select  class="form-control col-12" [(ngModel)]="selectedSort" (change)="onSortChange($event)"  >
                <option *ngFor="let option of sortOptions" [ngValue]="option.value">
                    {{ option.display }}
                </option>
            </select>
        </div>
        <div class="col-sm-1">
            <div class="form-check align-middle py-1">
                <input class="form-check-input" type="checkbox" name="order" (change)="onSortChange($event)" [(ngModel)]="order" value="" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                  Descending
                </label>
              </div>
                      
        </div>
        <div class="col-sm-1">
           
        </div>
    </div>
   <div *ngIf="transactions && transactions.length > 0">
    <div class="row">
        <div class="col-12 py-2 mb-1">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center">
                                    No.
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-uppercase">
                                    Transaction Name
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center text-uppercase">
                                    Category
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center text-uppercase">
                                    Transaction Date
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center text-uppercase">
                                    Amount
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center text-uppercase">
                                    Expense
                                </div>
                            </th>
                            <th class="border-0 bg-light">
                                <div class="p-2 text-center text-uppercase">
                                    Action
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let txn of transactions;let i = index">
                            <td class="align-middle text-center">
                                {{i+1}}
                            </td>
                            <td class="align-middle"><strong>
                                    {{txn.name}}
                                </strong></td>
                            <td class="align-middle text-center">
                                {{txn.category}}
                            </td>
                            <td class="align-middle text-center">
                                {{txn.transactionDate | date: 'dd/MM/yyyy'}}
                            </td>
                            <td class="align-middle text-center">
                                {{txn.amount | currency}}
                            </td>
                            <td class="align-middle text-center">
                                {{txn.isExpense}}
                            </td>                            
                            <td class="align-middle">
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-edit text-success mr-2" style="cursor: pointer;font-size:2em ;"
                                        (click)="editTransaction(txn.id)">
                                    </i>

                                    <i class="fa fa-trash text-danger m-2" style="cursor: pointer;font-size:2em ;"
                                        (click)="deleteTransaction(txn)">
                                    </i>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="row" *ngIf="pagination">
            <div class="col-xs-12 col-12">
                <pagination [boundaryLinks]="true" (pageChanged)="onPageChange($event)"  [itemsPerPage]="pagination.pageSize"
                       [totalItems]="pagination.count"></pagination>
            </div>
        </div>
    </div>
   </div>
</div>
<div class="d-flex justify-content-center mt-5" *ngIf="(transactions && transactions.length === 0)||(!transactions)">
    <h2>There are no Transactions , Add one now</h2>
    <button class="btn btn-info ml-2" (click)="openModal(template)">Add Transaction</button>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Transaction</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <app-add-transaction (formSubmitted)="onSuccessfulAdding($event)"></app-add-transaction>
    </div>
  </ng-template>
