<div class="container" >
    <div class="card">
        <div class="card-body">
            <div *ngIf="feedbacks && feedbacks.length === 0">
                No messages yet .. Give a feedback..
            </div>
            <div *ngIf="feedbacks && feedbacks.length> 0">
                <!-- <h6 *ngFor="let item of feedbacks"><i>{{item.message}}</i></h6> -->
              <div *ngFor="let item of feedbacks">
                <div class="d-flex justify-content-start">
                    <p class="text-muted"><i>{{item.writtenBy}} said ..</i></p>
                  </div>
                <alert  type="info">
                    <strong></strong> {{item.message}}
                  </alert>
                  
                  
              </div>
                        
                    
                
            </div>
            
        </div>
        <div class="card-footer">
            <div class="input-group">
                <input type="text" class="form-control input-sm" placeholder="type your feedback here" #feedbackComment>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" (click)="onSubmit()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>