<nav class="navbar navbar-expand-md navbar-light fixed-top bg-info d-flex justify-content-between">   
        <div>
            <a class="navbar-brand" routerLink="/dashboard"><i class="fa fa-users mr-2"></i>THE SHABAB APP</a>
        </div>
        <div>
            <ul class="navbar-nav mr-auto" *ngIf="(currentUser$ | async) !== null">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/tenants"><i class="fa fa-users mr-1"></i>Inmates <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/transactions"><i class="fa fa-money mr-1"></i>Transactions</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  routerLink="/bills" ><i class="fa fa-paper-plane mr-1"></i>Bills</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link"  routerLink="/vendors" ><i class="fa fa-lock mr-1"></i>Accounts</a>
                </li>
            </ul>
        </div>
        <div>
            <div *ngIf="(currentUser$ | async) as currentUser">
                Welcome
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                            aria-controls="dropdown-basic">
                            <strong>{{currentUser.displayName}}</strong> <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">Settings</a></li>
                      <!-- <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li> -->
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem">
                          <!-- <a class="dropdown-item" href="#">Separated link</a> -->
                          <button class="btn btn-danger dropdown-item" (click)="logout()">Logout</button>
                      </li>
                    </ul>
                  </div>
            </div>
            <div *ngIf="(currentUser$ | async) === null">
                <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-inline ">
                    <input class="form-control mr-sm-2" name="username" [(ngModel)]="username" placeholder="Username">
                    <input class="form-control mr-sm-2" type="password" name="password" [(ngModel)]="password" placeholder="Password">
                    <button class="btn btn-danger my-2 my-sm-0" type="submit">Login</button>
                </form>
            </div>
            
        </div>
  
</nav>